<a href="https://colab.research.google.com/github/ushifali/final-23/blob/master/Cleaning_Categories_Restaurant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd
import numpy as np
     
# read the second CSV file
restaurant_df = pd.read_csv('/content/drive/MyDrive/Cleaned_Data/combined/combined_restaurants.csv')

In [10]:
# Replace missing or null values with an empty string
restaurant_df['Cuisines'].fillna('', inplace=True)

# Define a lambda function to remove duplicates and count them
def remove_duplicates_and_count(x):
    cuisines = x.split(', ')
    num_duplicates = len(cuisines) - len(set(cuisines))
    unique_cuisines = set(cuisines)
    return ', '.join(unique_cuisines), num_duplicates

# Apply the lambda function to the "Cuisines" column
restaurant_df[['Cuisines', 'Num_duplicates']] = restaurant_df['Cuisines'].apply(remove_duplicates_and_count).apply(pd.Series)

# Print the updated DataFrame
print(restaurant_df)

                           Restaurant_Name  \
0                              # Wednesday
1      #1, Culinary Avenue - The Red Maple
2                        #54 Gully Kitchen
3                              #788 Avenue
4                        #981 The Food Hub
...                                    ...
44765                    Food Street - Veg
44766                            ट 4 Tasty
44767                          द Vege टेबल
44768                            स्पेस Bar
44769                    ह-tea The Tea Hut

                                                Cuisines  Pricing_for_2  \
0       Chinese, Fast Food, North Indian - Casual Dining          250.0
1       North Indian, Continental - Fine Dining, Chinese         1500.0
2      North Indian, Fast Food, Asian, Biryani, Stree...          500.0
3               Continental, North Indian - Bar, Italian         1900.0
4      North Indian, Chinese, Chettinad, Beverages, D...          750.0
...                                                  ...            ...
44765                            Fast Food - Quick Bites          250.0
44766                          Street Food - Quick Bites          300.0
44767  Continental, North Indian, Italian - Casual Di...         1000.0
44768           North Indian, Chinese, Continental - Bar         1700.0
44769  Beverages - Café, North Indian, Fast Food, Caf...          550.0

                                Locality  Dining_Rating  \
0                    Keshavpuram, Kanpur            3.5
1      The Red Maple Mashal, Rau, Indore            3.9
2                Malleshwaram, Bangalore            4.0
3               Jubilee Hills, Hyderabad            3.9
4                Kalyan Nagar, Bangalore            3.5
...                                  ...            ...
44765                      Ladpura, Kota            2.9
44766                       Old Goa, Goa            3.7
44767                      FC Road, Pune            4.2
44768                Koregaon Park, Pune            4.3
44769            Sarabha Nagar, Ludhiana            4.2

                                                 Website  \
0      https://www.zomato.com/kanpur/wednesday-keshav...
1      https://www.zomato.com/indore/1-culinary-avenu...
2      https://www.zomato.com/bangalore/54-gully-kitc...
3      https://www.zomato.com/hyderabad/788-avenue-ju...
4      https://www.zomato.com/bangalore/981-the-food-...
...                                                  ...
44765  https://www.zomato.com/kota/food-street-veg-la...
44766  https://www.zomato.com/goa/4-tasty-old-goa?utm...
44767  https://www.zomato.com/pune/vege-fc-road?utm_s...
44768  https://www.zomato.com/pune/bar-koregaon-park?...
44769  https://www.zomato.com/ludhiana/tea-the-tea-hu...

                                                 Address     Phone_No  \
0      H-1034, Awas Vikas-1, Bagia Crossing Road, Kal...          NaN
1      The Red Maple Mashal, Jhoomer Ghat, Rasalpura,...          NaN
2      54, Railway Parallel Road, Kumara Park, Malles...  9.19019E+11
3      788, Near Croma, Road 36, Jubilee Hills, Hyder...          NaN
4      981, 1st Block, 3rd Cross Road, Kalyan Nagar, ...  9.19539E+11
...                                                  ...          ...
44765  B-109, Narayan Residency Main Road Landmark, K...          NaN
44766  Royal Arcade, College Road, Marcela, Old Goa, Goa          NaN
44767  Survey 1251/2, Behind Champion Sports, Next to...          NaN
44768  1st Floor, Gera Legend, North Main Road, Oppos...          NaN
44769                      D-37, Sarabha Nagar, Ludhiana          NaN

        Latitude  Longitude                     Timings  \
0      26.496044  80.256227              11 AM to 11 PM
1      22.619918  75.809012            7:30 PM to 11 PM
2      12.989609  77.578307                         NaN
3      17.435019  78.401508      12 Noon to 12 Midnight
4      13.018763  77.652710                         NaN
...          ...        ...                         ...
44765  25.201385  75.834671           11 AM to 10:30 PM
44766  15.517375  73.959800  12 Noon to 10 PM (Mon-Sun)
44767  18.516664  73.842004    12:30pm – 11pm (Mon-Sun)
44768  18.539584  73.886446          12 Noon to 1:30 AM
44769  30.891917  75.822868              10 AM to 11 PM

                                              Highlights  Votes  Delivery  \
0      ['Dinner', 'Delivery', 'Lunch', 'Cash', 'Takea...   44.0       1.0
1      ['Takeaway Available', 'Credit Card', 'Dinner'...  340.0      -1.0
2                                                    NaN    NaN       NaN
3      ['Lunch', 'Cash', 'Takeaway Available', 'Debit...  695.0      -1.0
4                                                    NaN    NaN       NaN
...                                                  ...    ...       ...
44765                        ['Cash', 'Outdoor Seating']    4.0      -1.0
44766  ['Cash', 'Debit Card', 'No Alcohol Available',...   44.0      -1.0
44767  ['Cash', 'Credit Card', 'Lunch', 'Takeaway Ava...  817.0       1.0
44768  ['Lunch', 'Cash', 'Delivery', 'Credit Card', '...   91.0      -1.0
44769  ['No Alcohol Available', 'Dinner', 'Takeaway A...  621.0       1.0

       Takeaway  Num_duplicates
0          -1.0               0
1          -1.0               0
2           NaN               0
3          -1.0               0
4           NaN               0
...         ...             ...
44765      -1.0               0
44766      -1.0               0
44767      -1.0               0
44768      -1.0               0
44769      -1.0               0

[44770 rows x 16 columns]

In [11]:

# Print the values in the "Num_duplicates" column only if they are not equal to zero
print(restaurant_df.loc[restaurant_df['Num_duplicates'] != 0, 'Num_duplicates'])

13        2
29        2
40       16
42        1
43        3
         ..
44654     1
44687    36
44705     1
44709    86
44726     1
Name: Num_duplicates, Length: 3337, dtype: int64

In [ ]:

# Delete the "Num_duplicates" column
restaurant_df.drop(columns=['Num_duplicates'], inplace=True)

# Save the updated DataFrame to a CSV file in your Google Drive
restaurant_df.to_csv('/content/drive/MyDrive/Cleaned_Data/combined/combined_restaurants.csv')