<a href="https://colab.research.google.com/github/ushifali/final-23/blob/master/Collaborative_Filtering_Restaurants.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
import pandas as pd

# Load user preferences data
user_preferences_df  = pd.read_csv('/content/drive/MyDrive/Filtering_Data/user_preferences.csv', encoding='utf-8')

# Load restaurant data
restaurants_df = pd.read_csv('/content/drive/MyDrive/Filtering_Data/content_filtered_data_restaurant.csv', encoding='utf-8')

In [56]:

from sklearn.metrics.pairwise import pairwise_distances
from sklearn.preprocessing import MultiLabelBinarizer


# Define a function to calculate Jaccard similarity between a user's preferences and all restaurants
def calculate_similarity(user_id):
    user_prefs = user_preferences_df[user_preferences_df['user_id'] == user_id].iloc[:, 3:].values
    restaurant_features = restaurants_df.iloc[:, 3:].values

    # Create a MultiLabelBinarizer object to one-hot encode the values in each column as binary features
    mlb = MultiLabelBinarizer()

    # Fit the MultiLabelBinarizer on all the values in the 'Cuisines' column of the restaurants dataframe
    mlb.fit(restaurants_df['Cuisines'].str.split(', '))

    # Transform the 'Cuisines' column of both user preferences and restaurants dataframes into binary features
    user_cuisines = mlb.transform(user_preferences_df[user_preferences_df['user_id'] == user_id]['categories'].str.split(', '))
    restaurant_cuisines = mlb.transform(restaurants_df['Cuisines'].str.split(', '))

    # Calculate Jaccard similarity between the user's preferences and all restaurants
    similarities = pairwise_distances(user_cuisines, restaurant_cuisines, metric='jaccard')

    return 1 - similarities[0]

In [57]:
restaurant_names = restaurants_df['Restaurant_Name']

In [58]:
# Example usage: Recommend top 5 restaurants for user 1
user_id = 1
similarities = calculate_similarity(user_id)
restaurant_data = restaurants_df[['Restaurant_Name', 'Cuisines', 'Pricing_for_2', 'Locality', 'Dining_Rating','Distance']]
recommendations = pd.DataFrame({'Restaurant_Name': restaurant_names, 'Similarity': similarities})
recommendations = recommendations.merge(restaurant_data, on='Restaurant_Name').sort_values(by='Similarity', ascending=False).head(5)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:895: UserWarning: unknown class(es) ['American', 'Mexican', 'Thai'] will be ignored
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/pairwise.py:2025: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

In [59]:
print(recommendations.to_string(index=False))
recommendations.head()

          Restaurant_Name  Similarity                                                                                                    Cuisines  Pricing_for_2                 Locality  Dining_Rating  Distance
Mavalli Tiffin Room (MTR)         0.0 South Indian, Beverages ,South Indian - Quick Bites ,South Indian - Quick Bites ,South Indian - Quick Bites          275.0  Basavanagudi, Bangalore          4.425  0.018975
               Kumar Mess         0.0                                                South Indian - Casual Dining ,Chettinad, South Indian - Mess          275.0        KK Nagar, Madurai          4.400  3.087075
            Welcome Hotel         0.0                                                                South Indian, Sandwich, Juices - Quick Bites          250.0    Purasavakkam, Chennai          4.500  2.662376
     Fresh Baked Goodness         0.0                                                                                   Bakery, Desserts - Bakery          300.0   Abhiramapuram, Chennai          4.500  2.668489
          Basha Halwawala         0.0                                                                                         Mithai - Sweet Shop          250.0      Triplicane, Chennai          4.400  2.678227

,Restaurant_Name,Similarity,Cuisines,Pricing_for_2,Locality,Dining_Rating,Distance
0,Mavalli Tiffin Room (MTR),0.0,"South Indian, Beverages ,South Indian - Quick ...",275.0,"Basavanagudi, Bangalore",4.425,0.018975
37,Kumar Mess,0.0,"South Indian - Casual Dining ,Chettinad, South...",275.0,"KK Nagar, Madurai",4.400,3.087075
27,Welcome Hotel,0.0,"South Indian, Sandwich, Juices - Quick Bites",250.0,"Purasavakkam, Chennai",4.500,2.662376
28,Fresh Baked Goodness,0.0,"Bakery, Desserts - Bakery",300.0,"Abhiramapuram, Chennai",4.500,2.668489
29,Basha Halwawala,0.0,Mithai - Sweet Shop,250.0,"Triplicane, Chennai",4.400,2.678227

In [60]:
# Example usage: Recommend top 5 restaurants for user 5
user_id = 5
similarities = calculate_similarity(user_id)
restaurant_data = restaurants_df[['Restaurant_Name', 'Cuisines', 'Pricing_for_2', 'Locality', 'Dining_Rating','Distance']]
recommendations = pd.DataFrame({'Restaurant_Name': restaurant_names, 'Similarity': similarities})
recommendations = recommendations.merge(restaurant_data, on='Restaurant_Name').sort_values(by='Similarity', ascending=False).head(5)
print(recommendations.to_string(index=False))
recommendations.head()

          Restaurant_Name  Similarity                                                                                                    Cuisines  Pricing_for_2                                      Locality  Dining_Rating  Distance
            Shifu's Momos    0.333333                                                                     Momos, Chinese, Beverages - Quick Bites          200.0 GCDA Shopping Complex, Panampily Nagar, Kochi          4.600  3.277289
             Asha Tiffins    0.166667               South Indian, North Indian, Chinese, Beverages, Desserts ,South Indian, Chinese - Quick Bites          200.0                                HSR, Bangalore          4.450  0.070718
Mavalli Tiffin Room (MTR)    0.000000 South Indian, Beverages ,South Indian - Quick Bites ,South Indian - Quick Bites ,South Indian - Quick Bites          275.0                       Basavanagudi, Bangalore          4.425  0.018975
     Fresh Baked Goodness    0.000000                                                                                   Bakery, Desserts - Bakery          300.0                        Abhiramapuram, Chennai          4.500  2.668489
          Basha Halwawala    0.000000                                                                                         Mithai - Sweet Shop          250.0                           Triplicane, Chennai          4.400  2.678227

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:895: UserWarning: unknown class(es) ['Fast-Food', 'Japanese', 'Mediterranean', 'Mexican', 'Thai'] will be ignored
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/pairwise.py:2025: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

,Restaurant_Name,Similarity,Cuisines,Pricing_for_2,Locality,Dining_Rating,Distance
40,Shifu's Momos,0.333333,"Momos, Chinese, Beverages - Quick Bites",200.0,"GCDA Shopping Complex, Panampily Nagar, Kochi",4.600,3.277289
13,Asha Tiffins,0.166667,"South Indian, North Indian, Chinese, Beverages...",200.0,"HSR, Bangalore",4.450,0.070718
0,Mavalli Tiffin Room (MTR),0.000000,"South Indian, Beverages ,South Indian - Quick ...",275.0,"Basavanagudi, Bangalore",4.425,0.018975
28,Fresh Baked Goodness,0.000000,"Bakery, Desserts - Bakery",300.0,"Abhiramapuram, Chennai",4.500,2.668489
29,Basha Halwawala,0.000000,Mithai - Sweet Shop,250.0,"Triplicane, Chennai",4.400,2.678227

In [65]:
# Example usage: Recommend top 5 restaurants for user 20
user_id = 37
similarities = calculate_similarity(user_id)
restaurant_data = restaurants_df[['Restaurant_Name', 'Cuisines', 'Pricing_for_2', 'Locality', 'Dining_Rating','Distance']]
recommendations = pd.DataFrame({'Restaurant_Name': restaurant_names, 'Similarity': similarities})
recommendations = recommendations.merge(restaurant_data, on='Restaurant_Name').sort_values(by='Similarity', ascending=False).head(5)
print(recommendations.to_string(index=False))
recommendations.head()

        Restaurant_Name  Similarity                                                                                                                 Cuisines  Pricing_for_2                                      Locality  Dining_Rating  Distance
           Asha Tiffins    0.333333                            South Indian, North Indian, Chinese, Beverages, Desserts ,South Indian, Chinese - Quick Bites          200.0                                HSR, Bangalore           4.45  0.070718
          Shifu's Momos    0.250000                                                                                  Momos, Chinese, Beverages - Quick Bites          200.0 GCDA Shopping Complex, Panampily Nagar, Kochi           4.60  3.277289
              Chai Days    0.200000                                                        Tea, Beverages, Fast Food ,Cafe, Tea, Beverages, Fast Food - Café          250.0                        Indiranagar, Bangalore           4.45  0.047223
Ideal Ice Cream Parlour    0.200000                                                              Ice Cream, Desserts, Beverages, Fast Food - Dessert Parlour          300.0                        Hampankatta, Mangalore           4.50  2.756018
                Ideal's    0.166667 Ice Cream, Desserts, Beverages, Fast Food - Dessert Parlour ,Ice Cream, Desserts, Beverages, Fast Food - Dessert Parlour          300.0                        Hampankatta, Mangalore           4.60  2.755245

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:895: UserWarning: unknown class(es) ['American', 'Fast-Food', 'Mediterranean'] will be ignored
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/pairwise.py:2025: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

,Restaurant_Name,Similarity,Cuisines,Pricing_for_2,Locality,Dining_Rating,Distance
13,Asha Tiffins,0.333333,"South Indian, North Indian, Chinese, Beverages...",200.0,"HSR, Bangalore",4.45,0.070718
40,Shifu's Momos,0.250000,"Momos, Chinese, Beverages - Quick Bites",200.0,"GCDA Shopping Complex, Panampily Nagar, Kochi",4.60,3.277289
7,Chai Days,0.200000,"Tea, Beverages, Fast Food ,Cafe, Tea, Beverage...",250.0,"Indiranagar, Bangalore",4.45,0.047223
33,Ideal Ice Cream Parlour,0.200000,"Ice Cream, Desserts, Beverages, Fast Food - De...",300.0,"Hampankatta, Mangalore",4.50,2.756018
32,Ideal's,0.166667,"Ice Cream, Desserts, Beverages, Fast Food - De...",300.0,"Hampankatta, Mangalore",4.60,2.755245