<a href="https://colab.research.google.com/github/ushifali/final-23/blob/master/Collaborative_Filtering_Restaurants.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# Load user preferences data
user_preferences_df  = pd.read_csv('/content/drive/MyDrive/Filtering_Data/user_preferences.csv', encoding='utf-8')

# Load restaurant data
restaurants_df = pd.read_csv('/content/drive/MyDrive/Filtering_Data/content_filtered_data_restaurant.csv', encoding='utf-8')

In [3]:

from sklearn.metrics.pairwise import pairwise_distances
from sklearn.preprocessing import MultiLabelBinarizer


# Define a function to calculate Jaccard similarity between a user's preferences and all restaurants
def calculate_similarity(user_id):
    user_prefs = user_preferences_df[user_preferences_df['user_id'] == user_id].iloc[:, 3:].values
    restaurant_features = restaurants_df.iloc[:, 3:].values

    # Create a MultiLabelBinarizer object to one-hot encode the values in each column as binary features
    mlb = MultiLabelBinarizer()

    # Fit the MultiLabelBinarizer on all the values in the 'Cuisines' column of the restaurants dataframe
    mlb.fit(restaurants_df['Cuisines'].str.split(', '))

    # Transform the 'Cuisines' column of both user preferences and restaurants dataframes into binary features
    user_cuisines = mlb.transform(user_preferences_df[user_preferences_df['user_id'] == user_id]['cuisines'].str.split(', '))
    restaurant_cuisines = mlb.transform(restaurants_df['Cuisines'].str.split(', '))

    # Calculate Jaccard similarity between the user's preferences and all restaurants
    similarities = pairwise_distances(user_cuisines, restaurant_cuisines, metric='jaccard')

    return 1 - similarities[0]

In [4]:
restaurant_names = restaurants_df['Restaurant_Name']

In [5]:
# Example usage: Recommend top 5 restaurants for user 1
user_id = 1
similarities = calculate_similarity(user_id)
restaurant_data = restaurants_df[['Restaurant_Name', 'Cuisines', 'Pricing_for_2', 'Locality', 'Dining_Rating','Distance']]
recommendations = pd.DataFrame({'Restaurant_Name': restaurant_names, 'Similarity': similarities})
recommendations = recommendations.merge(restaurant_data, on='Restaurant_Name').sort_values(by='Similarity', ascending=False).head(5)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:895: UserWarning: unknown class(es) [' Beverages - Dessert Parlour', ' Chinese - Quick Bites', ' Fast Food - Café', ' Frozen Yogurt - Café', ' South Indian - Quick Bites', ' Street Food', ' Tea - Beverage Shop', 'Fast Food - Quick Bites ', 'Ice Cream - Dessert Parlour ', 'North Indian ', 'Sandwich - Quick Bites ', 'South Indian - Quick Bites '] will be ignored
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/pairwise.py:2025: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

In [6]:
print(recommendations.to_string(index=False))
recommendations.head()

        Restaurant_Name  Similarity                                                                                                                 Cuisines  Pricing_for_2                Locality  Dining_Rating  Distance
              Chai Days    0.333333                                                        Tea, Beverages, Fast Food ,Cafe, Tea, Beverages, Fast Food - Café          250.0  Indiranagar, Bangalore           4.45  0.047223
   Kakatiya Deluxe Mess    0.250000                                                                                                     Andhra - Quick Bites          250.0     Ameerpet, Hyderabad           4.60  4.542415
            Mane Holige    0.200000                                                                                        Mithai, South Indian - Sweet Shop          200.0    Jayanagar, Bangalore           4.40  0.044575
Ideal Ice Cream Parlour    0.142857                                                              Ice Cream, Desserts, Beverages, Fast Food - Dessert Parlour          300.0  Hampankatta, Mangalore           4.50  2.756018
                Ideal's    0.125000 Ice Cream, Desserts, Beverages, Fast Food - Dessert Parlour ,Ice Cream, Desserts, Beverages, Fast Food - Dessert Parlour          300.0  Hampankatta, Mangalore           4.60  2.755245

,Restaurant_Name,Similarity,Cuisines,Pricing_for_2,Locality,Dining_Rating,Distance
7,Chai Days,0.333333,"Tea, Beverages, Fast Food ,Cafe, Tea, Beverage...",250.0,"Indiranagar, Bangalore",4.45,0.047223
46,Kakatiya Deluxe Mess,0.250000,Andhra - Quick Bites,250.0,"Ameerpet, Hyderabad",4.60,4.542415
4,Mane Holige,0.200000,"Mithai, South Indian - Sweet Shop",200.0,"Jayanagar, Bangalore",4.40,0.044575
33,Ideal Ice Cream Parlour,0.142857,"Ice Cream, Desserts, Beverages, Fast Food - De...",300.0,"Hampankatta, Mangalore",4.50,2.756018
32,Ideal's,0.125000,"Ice Cream, Desserts, Beverages, Fast Food - De...",300.0,"Hampankatta, Mangalore",4.60,2.755245

In [7]:
# Example usage: Recommend top 5 restaurants for user 5
user_id = 5
similarities = calculate_similarity(user_id)
restaurant_data = restaurants_df[['Restaurant_Name', 'Cuisines', 'Pricing_for_2', 'Locality', 'Dining_Rating','Distance']]
recommendations = pd.DataFrame({'Restaurant_Name': restaurant_names, 'Similarity': similarities})
recommendations = recommendations.merge(restaurant_data, on='Restaurant_Name').sort_values(by='Similarity', ascending=False).head(5)
print(recommendations.to_string(index=False))
recommendations.head()

         Restaurant_Name  Similarity                                                                                   Cuisines  Pricing_for_2                 Locality  Dining_Rating  Distance
       Velvet Patisserie    0.200000 Bakery, Desserts - Bakery ,Bakery, Desserts, Street Food, Pizza, Sandwich, Burger - Bakery          225.0 Banjara Hills, Hyderabad            4.4  4.530800
       Pataka - Mannar's    0.166667                                  Street Food, Desserts, Fast Food, Beverages - Quick Bites          250.0          Gokulam, Mysore            4.3  1.158719
        Pataka- Mannar's    0.166667                                  Street Food, Desserts, Fast Food, Beverages - Quick Bites          250.0      Chamrajpura, Mysore            4.4  1.156209
Pagdandi Books Chai Cafe    0.157895                                      Cafe, Bakery, Fast Food, Juices, Frozen Yogurt - Café          250.0              Baner, Pune            4.5  6.752469
              Al Khaleej    0.117647                                                        Arabian, South Indian - Quick Bites          300.0       Perumbavoor, Kochi            4.4  3.067967

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:895: UserWarning: unknown class(es) [' Bakery - Dessert Parlour', ' Beverages', ' Beverages ', ' Beverages - Dessert Parlour', ' Beverages - Quick Bites', ' Biryani', ' Chinese - Quick Bites', ' Desserts', ' Desserts ', ' Desserts - Bakery ', ' Desserts - Dessert Parlour', ' Fast Food - Café', ' Fast Food - Dessert Parlour', ' Fast Food - Dessert Parlour ', ' Fast Food - Quick Bites ', ' Frozen Yogurt - Café', ' Ice Cream - Dessert Parlour', ' Juices - Quick Bites', ' Kerala', ' North Indian - Quick Bites ', ' Pizza', ' Rolls - Quick Bites', ' Sandwich', ' Seafood', ' Seafood - Casual Dining', ' South Indian - Mess', ' South Indian - Quick Bites', ' South Indian - Sweet Shop', ' Tea', ' Tea - Beverage Shop', ' Wraps ', 'Chettinad', 'Fast Food - Quick Bites ', 'North Indian ', 'South Indian ', 'South Indian - Casual Dining ', 'South Indian - Quick Bites '] will be ignored
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/pairwise.py:2025: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

,Restaurant_Name,Similarity,Cuisines,Pricing_for_2,Locality,Dining_Rating,Distance
43,Velvet Patisserie,0.200000,"Bakery, Desserts - Bakery ,Bakery, Desserts, S...",225.0,"Banjara Hills, Hyderabad",4.4,4.530800
16,Pataka - Mannar's,0.166667,"Street Food, Desserts, Fast Food, Beverages - ...",250.0,"Gokulam, Mysore",4.3,1.158719
14,Pataka- Mannar's,0.166667,"Street Food, Desserts, Fast Food, Beverages - ...",250.0,"Chamrajpura, Mysore",4.4,1.156209
49,Pagdandi Books Chai Cafe,0.157895,"Cafe, Bakery, Fast Food, Juices, Frozen Yogurt...",250.0,"Baner, Pune",4.5,6.752469
36,Al Khaleej,0.117647,"Arabian, South Indian - Quick Bites",300.0,"Perumbavoor, Kochi",4.4,3.067967

In [8]:
# Example usage: Recommend top 5 restaurants for user 20
user_id = 37
similarities = calculate_similarity(user_id)
restaurant_data = restaurants_df[['Restaurant_Name', 'Cuisines', 'Pricing_for_2', 'Locality', 'Dining_Rating','Distance']]
recommendations = pd.DataFrame({'Restaurant_Name': restaurant_names, 'Similarity': similarities})
recommendations = recommendations.merge(restaurant_data, on='Restaurant_Name').sort_values(by='Similarity', ascending=False).head(5)
print(recommendations.to_string(index=False))
recommendations.head()

 Restaurant_Name  Similarity                                                                                      Cuisines  Pricing_for_2                 Locality  Dining_Rating  Distance
    Asha Tiffins    0.107143 South Indian, North Indian, Chinese, Beverages, Desserts ,South Indian, Chinese - Quick Bites          200.0           HSR, Bangalore           4.45  0.070718
Rohit Fast Foods    0.080000                                                      South Indian, North Indian - Quick Bites          200.0 Viswanathapuram, Madurai           4.50  3.061135
    Hotel Aditya    0.080000                                                                         South Indian, Biryani          300.0   Rajajinagar, Bangalore           4.40  0.060368
      Al Khaleej    0.080000                                                           Arabian, South Indian - Quick Bites          300.0       Perumbavoor, Kochi           4.40  3.067967
4M Biryani House    0.076923                      Biryani, North Indian - Quick Bites ,Biryani, North Indian - Quick Bites          250.0   Musheerabad, Hyderabad           4.40  4.537371

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:895: UserWarning: unknown class(es) [' Beverages', ' Beverages ', ' Beverages - Dessert Parlour', ' Beverages - Dessert Parlour ', ' Beverages - Quick Bites', ' Biryani', ' Burger - Bakery', ' Chinese', ' Chinese - Casual Dining ', ' Desserts', ' Desserts - Bakery', ' Desserts - Bakery ', ' Desserts - Dessert Parlour', ' Desserts - Dessert Parlour ', ' Desserts - Food Court ', ' Fast Food', ' Fast Food ', ' Fast Food - Café', ' Fast Food - Dessert Parlour', ' Fast Food - Dessert Parlour ', ' Fast Food - Quick Bites', ' Fast Food - Quick Bites ', ' Frozen Yogurt - Café', ' Ice Cream - Dessert Parlour', ' Ice Cream - Dessert Parlour ', ' Juices', ' Juices - Quick Bites', ' North Indian', ' North Indian - Quick Bites', ' North Indian - Quick Bites ', ' Pizza', ' Rolls - Quick Bites', ' Rolls - Quick Bites ', ' Sandwich', ' Seafood', ' Seafood - Casual Dining', ' South Indian - Sweet Shop', ' Street Food', ' Street Food - Quick Bites', ' Tea', ' Tea - Beverage Shop', ' Wraps ', 'Chettinad', 'Fast Food ', 'Ice Cream - Dessert Parlour ', 'North Indian ', 'Sandwich - Quick Bites', 'Sandwich - Quick Bites ', 'South Indian ', 'South Indian - Casual Dining '] will be ignored
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/pairwise.py:2025: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

,Restaurant_Name,Similarity,Cuisines,Pricing_for_2,Locality,Dining_Rating,Distance
13,Asha Tiffins,0.107143,"South Indian, North Indian, Chinese, Beverages...",200.0,"HSR, Bangalore",4.45,0.070718
35,Rohit Fast Foods,0.080000,"South Indian, North Indian - Quick Bites",200.0,"Viswanathapuram, Madurai",4.50,3.061135
10,Hotel Aditya,0.080000,"South Indian, Biryani",300.0,"Rajajinagar, Bangalore",4.40,0.060368
36,Al Khaleej,0.080000,"Arabian, South Indian - Quick Bites",300.0,"Perumbavoor, Kochi",4.40,3.067967
45,4M Biryani House,0.076923,"Biryani, North Indian - Quick Bites ,Biryani, ...",250.0,"Musheerabad, Hyderabad",4.40,4.537371